:root{
	--light-blue: #70BFFF;
}

html{
	font-family: Raleway, sans-serif;
	font-size: 62.5%;
}

#brand{

}

.navbar{
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px;
	z-index:10;
	background-color: #fff;
	margin-top: 0;
}

.nav{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.nav__navbar{
	display: flex;
	justify-content: space-between;
	align-content: center;
	list-style: none;
	box-sizing: border-box;
	margin: 0 30px;
}

.nav__item{
	margin-left: 20px;
	font-size: 2.2rem;
	position: relative;
}

.nav__item:hover .nav__item::before{
	content: '';
	width: 5px;
	height: 2px;
	background-color: #FF6033;
	display: inline-block;
	position: absolute;
}

.nav__link{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;

}

.hero{
	background-image: url('../img/header/header_img.png');
	background-size: cover;
	min-height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__content{
	width: 40%;
	margin-left: 20px;
}

.about{
	background-image: url('../img/header/raspberries.png');
	background-color: #00B0B0;
	min-height: 725px;
	color: white;
	display: grid;
	grid-gap: 100px;
	grid-template-columns: min-content 1fr;
	align-content: center;
	position: relative;
}

.about__content{
	grid-column: 2 / 3;
}

.about__content{
	max-width: 80%;
}


.about__scroll{
	position: absolute;
	top: 40px;
	right: 50%;
	border: solid 3px black;
	border-radius: 30%;
	width: 25px;
	height: 40px;
}

.about__scroll-bar{
	background-color: #000;
	width: 3px;
	height: 12px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
	border-radius: 30%;
	animation: scroll 2s infinite;
}

.services{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--light-blue);
	min-height: 630px;
}

.services__content{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr minmax(300px, 515px) 1fr;
	align-content: center;
	margin: 2rem 0;
}

.services__card{
	display: grid;
	grid-template-columns: 4fr 1fr;
	align-items: center;
	justify-items: center;
	grid-column: 2 / 3;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
	height: 75px;
	cursor: pointer;
}

.secrices__card-name{
	font-size: 1.9rem;
	font-weight: 700;
	text-align: center;
}

.services__icon{
	height: 4.5rem;
	width: 4.5rem;
	fill: black;
	
}

.services__card-text{
	grid-column: 2 / 3;
	display: none;
}

.services__card-text--visible{
	color: #FFF;
	grid-column: 2 / 3;
	display: block;
	transition: all .5s;
}


.services__title{
	background-image: url('../img/services/tomatoes.png');
	background-position: center;
	color: #FFF;
	display: grid;
	align-content: center;
	justify-content: center;
}

.gallery{
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	min-height: 1320px;
	background-color: #FFE92F;
}
.gallery .section__title--huge,
.gallery .section__paragraph--small,
.btn--blue{
	grid-column: 2 / 3;
	justify-self: center;
}

.gallery .section__paragraph--small{
	width: 80%;
}

.gallery__container{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 200px) 320px;
	grid-gap: 30px;
	grid-column: 2 / 3;
	width: 990px;
}

.gallery__img{
	width: 100%;
	object-fit: cover;
    display: block;
}

.gallery__img--1{
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

.gallery__img--2{
	grid-column: 5 / 7;
}

.gallery__img--3{
	grid-column: 5 / 7;
}

.gallery__img--4{
	grid-column: 1 / 4;
}

.gallery__img--5{
	grid-column: 4 / 7;
}

.gallery__img--6{
	visibility: hidden;
}

.gallery__img--7{
	visibility: hidden;
}

.subscribe{
	background-image: url('../img/subscribe/bgc-subscribe-big.png');
	background-position: 80% 0%;
	min-height: 460px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.subscribe__content{
	margin-left: 30px;
}

.subscribe__content  .section__paragraph--small{
	width: 60%;
}

.subscribe__input{
	padding: 25px;
	border: solid 1px darkblue;
	margin-right: 20px;
}

.blog{
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	min-height: 800px;
	background-color: #B07CF7;
	color: #FFF;
	justify-items: center;
}

.blog__content,
.btn--red,
.blog .section__title--big,
.blog .section__paragraph--small{
	grid-column: 2 / 3;
}

.blog__content{
	display: grid;
	grid-template-columns: repeat(3, 320px);
	grid-template-rows: 290px;
	grid-gap: 20px;
}

.blog__card{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.blog__card--1{
	background-image: url('../img/blog/blog_one.png');
	grid-column: 1 / 2;
}

.blog__card--2{
	background-image: url('../img/blog/blog_two.png');
	grid-column: 2 / 3;
}

.blog__card--3{
	background-image: url('../img/blog/blog_three.png');
	grid-column: 3 / 4;
}

.blog__date{
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: center;
	font-size: 2.1rem;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 5px;
	border-radius: 5px;
}

.blog__card-title{
	font-size: 2.1rem;
	font-weight: 700;
}

.blog__card-author{
	font-size: 1.4rem;
}

.contact{
	display: grid;
	background-image: url('../img/contact/contact-bgc.png');
	background-size: cover;
	min-height: 930px;
}

.contact__content{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact__input,
.contact__message{
	background-color: rgba(78, 216, 200, 0.6);
	width: 80%;
}

.contact__input{
	
}

.contact__message{
	height: 10rem;
}

.hero,
.about,
.services__title,
.subscribe,
.contact{
	background-repeat: no-repeat;
}

.btn{
	text-transform: uppercase;
	border: none;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 1.9rem;
	font-family: inherit;
	transition: all 0.2s;
}

.btn:active{
	transform: translateY(50px;);
}

.btn--orange{
	padding: 20px;
	background-color: #ff6033;
}

.btn--blue{
	padding: 20px;
	background-color: #5585A2;
}

.btn--green{
	padding: 20px 40px; /* change to responsive */
	background-color: #96B92C;
}

.btn--red{
	padding: 20px 30px;
	background-color: #F72B3B;
	justify-self: center;
	align-self: center;
}

.btn--teal{
	padding: 20px 50px;
	background-color: var(--light-blue);
}

.section__title--small{

}

.section__title--big{
	font-weight: 700;
	font-size: 5.6rem;
}

.section__title--huge{
	font-weight: 700;
	font-size: 8rem;
}


.section__paragraph--small{
	font-size: 1.4rem;
	line-height: 2.2rem;
}

.section__paragraph--big{
	font-size: 2.1rem;
	line-height: 3.3rem;
}

@keyframes scroll{
	0%{
		opacity:1;
		transform: translate(-50%, 50%);
	}

	80%{
		opacity:1;
	}

	100%{
		opacity: 0;
		transform: translate(-50%, 100%);
	}
}
