:root{
	/* colors */
	--light-blue: #70BFFF;
	
	/* media queries */
	--medium: 1350px;
	--small: 800px;
	--smaller: 600px;
}

html{
	font-family: Raleway, sans-serif;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

#brand{

}

.navbar{
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100vw;
	padding: 20px;
	z-index:10;
	margin-top: 0;
}

.nav{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.nav__navbar{
	display: flex;
	justify-content: space-between;
	align-content: center;
	list-style: none;
	box-sizing: border-box;
	margin: 0 30px;
	transition: transform 0.2s;
}

.nav__item{
	margin-left: 20px;
	font-size: 2.2rem;
	position: relative;
	border-top: solid 3px transparent;
	transform: translateY(-3px);
}

.nav__item:hover{
	border-top: solid 3px #FF6033;
}

.nav__link{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;

}

.hero{
	background-image: url('../img/header/header_img.png');
	background-size: cover;
	min-height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__content{
	width: 40%;
	margin-left: 20px;
}

.about{
	background-color: #00B0B0;
	min-height: 725px;
	color: white;
	display: grid;
	grid-gap: 100px;
	grid-template-columns: min-content 1fr;
	align-content: center;
	position: relative;
}

.about__content{
	grid-column: 2 / 3;
}

.about__content{
	max-width: 80%;
}

.about__picture{
	max-width: 100%;
}

.about__scroll{
	position: absolute;
	top: 40px;
	right: 50%;
	border: solid 3px black;
	border-radius: 30%;
	width: 25px;
	height: 40px;
}

.about__scroll-bar{
	background-color: #000;
	width: 3px;
	height: 12px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
	border-radius: 30%;
	animation: scroll 2s infinite;
}

.services{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--light-blue);
	min-height: 630px;
}

.services__content{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr minmax(300px, 515px) 1fr;
	align-content: center;
	margin: 2rem 0;
}

.services__card{
	display: grid;
	grid-template-columns: 4fr 1fr;
	align-items: center;
	justify-items: center;
	grid-column: 2 / 3;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
	height: 75px;
	cursor: pointer;
}

.secrices__card-name{
	font-size: 1.9rem;
	font-weight: 700;
	text-align: center;
}

.services__icon{
	height: 4.5rem;
	width: 4.5rem;
	fill: black;
	
}

.services__card-text{
	grid-column: 2 / 3;
	display: none;
}

.services__card-text--visible{
	color: #FFF;
	grid-column: 2 / 3;
	display: block;
	transition: all .5s;
}


.services__title{
	background-image: url('../img/services/tomatoes.png');
	background-position: center;
	color: #FFF;
	display: grid;
	align-content: center;
	justify-content: center;
}

.gallery{
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	min-height: 1320px;
	background-color: #FFE92F;
}
.gallery .section__title--huge,
.gallery .section__paragraph--small,
.btn--blue{
	grid-column: 2 / 3;
	justify-self: center;
}

.gallery .section__paragraph--small{
	width: 80vw;
}

.gallery__container{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 200px) 320px;
	grid-gap: 30px;
	grid-column: 2 / 3;
	max-width: 990px;
	margin: 0 auto;
}

.gallery__img{
	width: 100%;
	object-fit: cover;
    display: block;
}

.gallery__img--1{
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

.gallery__img--2{
	grid-column: 5 / 7;
}

.gallery__img--3{
	grid-column: 5 / 7;
}

.gallery__img--4{
	grid-column: 1 / 4;
}

.gallery__img--5{
	grid-column: 4 / 7;
}

.gallery__img--6{
	display: none;
	grid-column: 1 / 4;
}

.gallery__img--7{
	display: none;
	grid-column: 4 / 7;
}

.subscribe{
	background-image: url('../img/subscribe/bgc-subscribe-big.png');
	background-position: 80% 0%;
	min-height: 460px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.subscribe__content{
	margin-left: 30px;
}

.subscribe__content  .section__paragraph--big{
	width: 60%;
}

.subscribe__input{
	padding: 25px;
	border: solid 1px darkblue;
	margin-right: 20px;
}

.blog{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	min-height: 800px;
	background-color: #B07CF7;
	color: #FFF;
	justify-items: center;
}

.blog__content,
.btn--red,
.blog .section__title--big,
.blog .section__paragraph--small{
	grid-column: 2 / 3;
}

.blog__content{
	display: grid;
	grid-template-columns: repeat(3, 320px);
	grid-auto-rows: 290px;
	grid-gap: 20px;
}

.blog__card{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: all 0.2s;
}

.blog__card--1{
	background-image: linear-gradient(transparent, rgba(0,0,0, .9)), url('../img/blog/blog_one.png') ;
	grid-column: 1 / 2;
}

.blog__card--2{
	background-image: linear-gradient(transparent, rgba(0,0,0, .9)), url('../img/blog/blog_two.png');
	grid-column: 2 / 3;
}

.blog__card--3{
	background-image: linear-gradient(transparent, rgba(0,0,0, .9)), url('../img/blog/blog_three.png');
	grid-column: 3 / 4;
}

.blog__card--4{
	background-image: linear-gradient(transparent, rgba(0,0,0, .9)), url('../img/blog/blog_two.png');
	grid-column: 2 / 3;
	display: none;
	transform: translateX(-50%);
}

.blog__card--5{
	background-image: linear-gradient(transparent, rgba(0,0,0, .9)), url('../img/blog/blog_one.png');
	grid-column: 3 / 4;
	display: none;
	transform: translateX(-50%);
}

.blog__card--1,
.blog__card--2,
.blog__card--3{
	grid-row: 1 / 2;
}

.blog__date{
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: center;
	font-size: 2.1rem;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 5px;
	border-radius: 5px;
}

.blog__card-title{
	font-size: 2.1rem;
	font-weight: 700;
}

.blog__card-author{
	font-size: 1.4rem;
}

.contact{
	display: grid;
	background-image: url('../img/contact/contact-bgc.png');
	background-size: cover;
	min-height: 930px;
}

.contact .section__paragraph--small{
	text-align: center;
}

.contact__content{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact__form{
	display: grid;
	grid-template-columns: 1fr minmax(300px, 400px) 1fr;
	grid-gap: 20px;
	color: white;
	
}

.contact__input,
.contact__message{
	background-color: rgba(0, 196, 196, .5);
	border: none;
	padding: 15px;
	color: white;
	grid-column: 2 / 3;
}

.contact__input::placeholder,
.contact__message::placeholder{
	color: white;
}

.contact__input{
	
}

.contact__message{
	height: 10rem;
}

.contact__text{
	font-size: 21px;
}

.contact__text--bold{
	font-weight: 700;
	text-transform: uppercase;
}

.hero,
.about,
.services__title,
.subscribe,
.contact{
	background-repeat: no-repeat;
}

.btn{
	text-transform: uppercase;
	border: none;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 1.9rem;
	font-family: inherit;
	transition: all 0.2s;
}

.btn:active{
	transform: translateY(50px;);
}

.btn--orange{
	padding: 20px;
	background-color: #ff6033;
}

.btn--blue{
	padding: 20px;
	background-color: #5585A2;
	margin: 2rem 0;
}

.btn--green{
	padding: 20px 40px; /* change to responsive */
	background-color: #96B92C;
}

.btn--red{
	padding: 20px 30px;
	background-color: #F72B3B;
	justify-self: center;
	align-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn--teal{
	padding: 20px 50px;
	background-color: var(--light-blue);
	justify-self: center;
	align-self: center;
	grid-column: 2 / 3;
}

.section__title--small{

}

.section__title--big{
	font-weight: 700;
	font-size: 5.6rem;
}

.section__title--huge{
	font-weight: 700;
	font-size: 8rem;
}

.contact .section__title--huge{
	text-align: center;
}


.section__paragraph--small{
	font-size: 1.4rem;
	line-height: 2.2rem;
	text-align: center;
}

.section__paragraph--big{
	font-size: 1.9rem;
	line-height: 3.3rem;
}

@keyframes scroll{
	0%{
		opacity:1;
		transform: translate(-50%, 50%);
	}

	80%{
		opacity:1;
	}

	100%{
		opacity: 0;
		transform: translate(-50%, 100%);
	}
}

@media screen and (max-width: 1600px){
	.nav__navbar{
		transform: scale(0.8);
	}
	
}

@media screen and (max-width: 1050px){
	.nav{
		display: none;
		position: absolute;
		top: 94px;
		left: 0;
		background-color: inherit;
		width: 100vw;
		justify-content: center;
	}

	.nav__navbar{
		flex-direction: column;
		align-items: center;
	}

	.nav__item{
		padding: 1rem;
	}

	.hero{
		min-height: 640px;
	}

	.about{
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.about__picture,
	.about__content{
		grid-column: 1 / 2;
		text-align: center;
	}

	.services{
		grid-template-columns: 1fr;
	}

	.services__title{
		grid-row: 1 / 2;
		height: 60vw;
	}

	.gallery__container{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7, min-content);
		justify-items: center;
		align-content: space-between;
		grid-auto-rows: 60vw;
	}

	.gallery__img{
		grid-column: 1 / 2;
		grid-row: span 1;
		width: 60vw;
		height: 40vw;
	}

	.blog__content{
		grid-template-columns: minmax(300px, 1fr);
		align-content: center;
	}

	.blog__card--1,
	.blog__card--2,
	.blog__card--3,
	.blog__card--4,
	.blog__card--5{
		grid-column: 1 / 2;
	}

	.blog__card--1{
		grid-row: 1 / 2;
	}

	.blog__card--2{
		grid-row: 2 / 3;
	}

	.blog__card--3{
		grid-row: 3 / 4;
	}

	.blog__card--4{
		grid-row: 4 / 5;
		transform: translateX(0);
	}

	.blog__card--5{
		grid-row: 5 / 6;
		transform: translateX(0);
	}

	.section__title--big{
		font-size: 3.6rem;
	}

	.section__title--huge{
		font-size: 5.6rem;
	}

	.section__paragraph--big{
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
}

@media screen and (max-width: 750px){
	.subscribe__content{
		display: flex;
		flex-direction: column;
		justify-items: stretch;
	}

	.subscribe__content  .section__paragraph--big{
		width: 100%;
	}

	.contact__content{
		grid-template-columns: 1fr;
	}

	.contact__info{
		color: white;
		padding: 3rem;
	}

	.contact__text:nth-child(2n + 1){
		font-size: 1.6rem;
	}

	.contact__text:nth-child(2n){
		font-size: 1.3rem;
	}

	.subscribe__input{
		width: 80vw;
		margin-bottom: 2rem;
	}

	.btn--green{
		width: 87vw;
	}
}
