:root{
	--light-blue: rgb(78, 216, 200);
}

html{
	font-family: Raleway, sans-serif;
}

#brand{
	font-family: Pacifico, Arial;
	font-size: 2rem;
}

.nav{

}

.nav__navbar{
	
}

.hero{
	background-image: url('../img/header/header_img.png');
}

.hero__content{
	width: 50%;
}

.about{
	background-image: url('../img/header/raspberries');
}

.services{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--light-blue);
}

.services__content{
	display: grid;
	grid-gap: 20px;
}

.services__title{
	background-image: url('../img/services/tomatoes.png');
	background-position: center;
}

.services__card{
	display: grid;
	grid-template-columns: 1fr min-content;
	background-color: #fff;
}

.services__icon{
	height: 3rem;
	width: 3rem;
	fill: black;
}

.gallery{

}

.subscribe{
	background-image: url('../img/services/bgc-subscribe-big.png');
}

.blog{

}

.contact{
	display: grid;
	background-image: url('../img/contact/contact-bgc.png');
}

.contact__content{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact__input,
.contact__message{
	background-color: rgba(78, 216, 200, 0.6);
	width: 80%;
}

.contact__input{
	
}

.contact__message{
	height: 10rem;
}

.hero,
.about,
.services__title,
.subscribe,
.contact{
	background-repeat: no-repeat;
}
.btn{
	text-transform: uppercase;
	border: none;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 19px;
	font-family: inherit;
}

.btn--orange{
	padding: 10px;
	background-color: #ff6033;
}

.btn--blue{
	background-color: #5585A2;
}

.btn--green{
	background-color: #96B92C;
}

.btn--red{
	background-color: #F72B3B;
}

.btn--teal{
	background-color: var(--light-blue);
}